.commentCard .profileImg {
  margin-right: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.commentCard .commentForm {
  display: flex;
}

.commentCard .commentForm textarea {
  flex: 1;
  border: none;
  height: 30px;
  background-color: transparent;
  border-bottom: 2px solid #dedede;
  font-size: 14px;
  color: #111;
  resize: none;
}

.commentCard .commentForm .postReply,
.commentCard .commentForm .cancelReply {
  height: 36px;
  background-color: #2692e6;
  color: #fff;
  font-weight: 500;
  border: none;
  padding: 0 15px;
  border-radius: 2px;
  cursor: pointer;
}

.commentCard .commentForm .cancelReply {
  background-color: transparent;
  color: rgba(17, 17, 17, 0.6);
}

.commentCard .commentForm .cancelReply:hover {
  color: #000;
}
.commentCard .commentForm .postReply:hover {
  color: rgba(17, 17, 17, 0.6);
}

.commentCard {
  margin-bottom: 16px;
}

.commentCard .cardContent {
  display: flex;
}

.commentCard .commentHeader {
  margin-bottom: 2px;
}

.commentCard .cardContent .username {
  margin-right: 8px;
  color: #111;
  font-size: 15px;
  font-weight: 500;
}

.commentCard .cardContent .body {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.commentCard .controls {
  margin-left: 64px;
}

.commentCard .controls button {
  height: 32px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: 500;
  color: rgba(17, 17, 17, 0.6);
  cursor: pointer;
  padding-right: 8px;
}

.commentCard .controls button:hover {
  color: #000;
}

.commentCard .controls .likeCount {
  border: none;
  width: 30px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(17, 17, 17, 0.6);
  margin: 0 8px 0 0px;
}

.commentCard .controls button img {
  height: 18px;
}

.commentCard .commentForm .profileImg {
  width: 30px;
  height: 30px;
}

.commentCard .cardContent .timestamp {
  color: #888;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.hidden {
  display: none !important;
}

.commentCard .repliesSection {
  padding-left: 64px;
  margin-top: 16px;
}

.commentCard .viewReplies {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.commentCard .repliesSection .viewReplies {
  display: none;
}

.commentCard .repliesSection .controls button.reply {
  display: none;
}
