.commentSection .header {
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  background: #fafafa;
}

.commentSection .header .commentCount {
  margin-bottom: 24px;
}

.commentSection .header .commentForm .profileImg,
.commentForm .profileImg {
  margin-right: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.commentSection .header .commentForm {
  display: flex;
}

.commentSection .header .commentForm textarea {
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #111;
  resize: none;
}

.commentSection .header .commentForm .postComment {
  height: 36px;
  background-color: #2692e6;
  color: #fff;
  font-weight: 500;
  border: none;
  padding: 0 15px;
  border-radius: 2px;
}
