.formHeader {
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  margin: 20px 0;
  border-bottom: 1px solid #dedede;
  padding-bottom: 8px;
}

form .col-form-label {
  font-weight: 500;
  font-size: 14;
  color: #252525;
}

form .form-group.row {
  margin-right: 1px;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
.formImage {
  width: 180px;
  height: 180px;
  text-align: center;
  border-radius: 5px;
}

div.form-group.imageInput {
  margin-bottom: 0;
}

.entryMessage {
  font-size: 14px;
  font-weight: 400;
  color: 212529;
}

span.errorMessage {
  width: 100%;
  color: #f00;
  font-size: 11px;
  font-weight: 400;
  margin-left: 34%;
  line-height: 0;
  margin-bottom: 20px;
}

li.imgError {
  margin-left: 5px;
  margin-bottom: 10px;
}

li.imgError span.errorMessage {
  margin-left: 0;
}

/* ENTRY FORMS, others in bootstrap */

.entryContainer {
  background-color: #efefee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entryContainer .column {
  background-color: #fff;
  min-height: 300px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  width: 450px;
  padding: 20px 35px;
  max-height: 100%;
  overflow-y: auto;
}

.entryContainer .entryHeader {
  padding: 20px 0;
}

.entryContainer .entryHeader img {
  width: 200px;
}

.entryContainer .column .entryHeader h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  padding-top: 18px;
}

.entryContainer .column .entryHeader span {
  font-size: 14px;
}

.entryContainer .column form {
  display: flex;
  flex-direction: column;
}

.entryContainer .column form input {
  font-size: 14px;
  margin-top: 18px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #dedede;
}

.entryContainer .column form button {
  background: #4285f4;
  color: #fff;
  height: 36px;
  width: 88px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}

.entryContainer .column form button:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 2px;
}

.entryContainer .errorMessage {
  margin-left: 4px;
}

.successMessage {
  color: rgb(16, 114, 57);
  font-size: 15px;
  display: flex;
  width: 400px;
  margin-bottom: 20px;
  flex: 1;
  justify-content: center;
}
