#pageContainer {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

#mainSectionContainer {
  padding-top: 56px;
  display: flex;
  width: 100%;
}

/* for the jquery nav menu action */
#mainSectionContainer.leftPadding {
  padding-left: 240px;
}

#mainContentContainer {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
