#pageContainer {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

#mainSectionContainer {
  padding-top: 56px;
  display: flex;
  width: 100%;
}

/* for the jquery nav menu action */
#mainSectionContainer.leftPadding {
  padding-left: 240px;
}

#mainContentContainer {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.errorMessage {
  color: #f00;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
}

.successMessage {
  color: rgb(16, 114, 57);
  font-size: 15px;
  display: flex;
  margin-bottom: 20px;
  flex: 1;
  justify-content: center;
}

/* WATCH */

.watchLeft {
  flex: 1;
}
.suggestions {
  max-width: 425px;
  flex-grow: 1;
  height: 100%;
  padding-left: 24px;
}

/* VIDEO GRID */

.videoGrid {
  display: flex;
  flex-wrap: wrap;
}

.suggestions .videoCard {
  display: flex;
  height: auto;
}

.videoCard {
  margin-right: 4px;
  margin-bottom: 24px;
}

.videoCard .thumbnail {
  width: 210px;
  height: 118px;
  position: relative;
}

.suggestions .videoCard .thumbnail {
  margin-right: 8px;
}

.videoCard .thumbnail img {
  width: 100%;
  height: 100%;
}

.videoCard .thumbnail .duration {
  bottom: 0;
  right: 0;
  position: absolute;
  margin: 4px;
  color: #fff;
  background-color: rgba(17, 17, 17, 0.8);
  opacity: 0.8;
  padding: 2px 4px;
  border-radius: 2px;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.videoCard .details {
  padding-right: 24px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 210px;
}

.suggestions .videoCard .details {
  padding-right: 0;
  flex: 1;
}

.videoCard .details .title {
  margin: 8px 0;
  max-height: 32px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #212529;
}

.videoCard .details .uploadedBy,
.videoCard .details .lower {
  color: rgba(17, 17, 17, 0.6);
  font-size: 13px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gridHeader {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.videoGrid.large {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.videoGrid.large .videoCard {
  height: auto;
  flex: 1;
  display: flex;
}

.videoGrid.large .videoCard .thumbnail {
  width: 320px;
  height: 166px;
  margin-right: 16px;
}

.videoGrid.large .videoCard .details {
  max-width: 600px;
}

.videoGrid.large .videoCard .details .title {
  font-size: 18px;
  line-height: 24px;
}

.videoCard .details .description {
  color: rgba(17, 17, 17, 0.6);
  font-size: 13px;
  font-weight: 500;
}

.searchResultsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.gridHeader .right {
  text-align: right;
}

.gridHeader a {
  color: rgba(17, 17, 17, 0.6);
}

.gridHeader a:after {
  content: " |";
}

.gridHeader a:last-child:after {
  content: "";
}

/* CHANNEL */

.channelContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bannerContainer {
  height: 200px;
  flex: 1;
  position: relative;
}

.bannerContainer .banner {
  width: 100%;
  object-fit: cover;
  max-height: 100%;
  vertical-align: middle;
}

.bannerContainer .channelName {
  position: absolute;
  font-family: serif;
  top: calc(50% - 40px);
  font-size: 50px;
  color: #fff;
  text-align: center;
  width: 100%;
  letter-spacing: 5px;
}

.channelHeader {
  padding: 15px 100px 0 100px;
  display: flex;
  height: 100px;
}

.infoContainer {
  flex: 1;
  display: flex;
}

.channelHeader .infoContainer .ownerImage {
  height: 80px;
  width: 80px;
}

.channelHeader .ownerInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.channelHeader .ownerInfo .name {
  font-size: 24px;
  font-weight: 400;
  color: #111;
}

.channelHeader .ownerInfo .subscriberCount {
  font-size: 14px;
  color: rgba(17, 17, 17, 0.6);
}

.channelHeader .buttonContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.channelHeader .buttonContainer button {
  cursor: pointer;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  padding: 10px 15px;
  font-size: 14px;
}

.channelContainer .channelContent {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
}

.nav-item a {
  color: rgba(17, 17, 17, 0.6);
}

.channelContent .section .values {
  color: rgba(17, 17, 17, 0.6);
  display: flex;
  flex-direction: column;
}

.channelContent .section .values span {
  margin-top: 3px;
  text-indent: 8px;
}
