/* 
main containers
search bar 
register/login
watch
comments
video grids
navigation
channel
*/

/* CONTAINERS */

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

#pageContainer {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

#mastHeadContainer {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 7px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  z-index: 1;
  display: flex;
  align-items: center;
}

#mastHeadContainer button:not(.searchButton),
#mastHeadContainer .rightIcons img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}

#mastHeadContainer .rightIcons {
  height: 100%;
}

#mastHeadContainer button img {
  width: 100%;
}

#mastHeadContainer .logoContainer {
  width: 150px;
}

#mastHeadContainer .logoContainer img {
  height: 25px;
  margin-left: 8px;
}

#navContainer {
  width: 240px;
  background-color: #f5f5f5;
  padding-top: 56px;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

#mainSectionContainer {
  padding-top: 56px;
  display: flex;
}

#mainSectionContainer.leftPadding {
  padding-left: 240px;
}

#mainContentContainer {
  padding: 10px 30px;
  display: flex;
  flex: 1;
}

/* SEARCH BAR */

#mastHeadContainer .searchBarContainer {
  margin: 0 40px;
  flex: 1;
  display: flex;
}

#mastHeadContainer .searchBarContainer form {
  flex: 1;
  display: flex;
  margin-block-end: 0em;
}

#mastHeadContainer .searchBarContainer .searchBar {
  flex: 1;
  max-width: 600px;
  color: #111;
  padding: 2px 6px;
  font-size: 14px;
  font-weight: 100;
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right: none;
  height: 32px;
  box-shadow: #eee 0px 1px 2px 0px inset;
}

#mastHeadContainer .searchBarContainer .searchButton {
  height: 32px;
  background-color: #f8f8f8;
  border: 1px solid #d3d3d3;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: pointer;
  width: 65px;
}

#mastHeadContainer .searchBarContainer .searchButton img {
  height: 20px;
  width: 20px;
}

.column {
  flex-grow: 1;
  background-color: #fff;
  min-height: 300px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

/* REGISTER/LOGIN */

.entryContainer {
  background-color: #efefee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entryContainer .column {
  flex-grow: 0;
  width: 450px;
  padding: 20px 35px;
  max-height: 100%;
  overflow-y: auto;
}

.entryContainer .column .entryHeader {
  padding: 20px 0;
}

.entryContainer .column .entryHeader img {
  width: 150px;
}

.entryContainer .column .entryHeader h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  padding-bottom: 0;
  padding-top: 16px;
}

.entryContainer .column .entryHeader span {
  font-size: 14px;
}

.entryContainer .column form {
  display: flex;
  flex-direction: column;
}

.entryContainer .column form input[type="text"],
.entryContainer .column form input[type="email"],
.entryContainer .column form input[type="password"] {
  font-size: 14px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #dedede;
}

.entryContainer .column form input[type="submit"] {
  background: #4285f4;
  color: #fff;
  height: 36px;
  width: 88px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}

.entryMessage {
  font-size: 14px;
  font-weight: 400;
  color: 212529;
}

.errorMessage {
  color: #f00;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
}

span.successMessage {
  color: rgb(16, 114, 57);
  font-size: 15px;
  display: flex;
  margin-bottom: 20px;
  flex: 1;
  justify-content: center;
}

/* WATCH */

.watchLeft {
  flex: 1;
}

.watchLeft .videoPlayer {
  width: 59.5vw;
  height: 28vw;
}

.suggestions {
  max-width: 425px;
  flex-grow: 1;
  height: 100%;
  padding-left: 24px;
}

.upperInfo {
  width: 100%;
  padding: 18px 0 8px 0;
}

.upperInfo h1 {
  display: block;
  overflow: hidden;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}

.upperInfo .lower {
  display: flex;
}

.upperInfo .lower .views {
  color: rgba(16, 16, 16, 0.6);
  font-size: 15px;
  flex: 1;
}

.upperInfo .lower .likeButtons {
  flex: 1;
  text-align: right;
}

.upperInfo .lower .likeButtons button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: rgba(17, 17, 17, 0.4);
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
}

.upperInfo .lower .likeButtons button img {
  height: 20px;
  width: 20px;
  margin: 4px 8px 8px 8px;
}

.lowerInfo .top {
  display: flex;
  margin-bottom: 12px;
}

.profilePicture {
  height: 100%;
}

.lowerInfo .top .profileImg {
  margin-right: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.lowerInfo .top .uploadInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.lowerInfo .top .uploadInfo .date {
  color: rgba(17, 17, 17, 0.6);
  font-size: 13px;
  font-weight: 400;
}

.lowerInfo .description {
  margin-left: 64px;
  max-width: 615px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.lowerInfo {
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.lowerInfo .top .button {
  padding: 6px 15px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  border: none;
  font-size: 14px;
}

.lowerInfo .top .buttonContainer,
.lowerInfo .top .buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonContainer .subscribe {
  background-color: #f00;
  color: #fff;
}

.buttonContainer .unsubscribe {
  background-color: #eee;
  color: rgba(17, 17, 17, 0.6);
}

.buttonContainer .edit {
  background-color: #2692e6;
  color: #fff;
}

.lowerInfo .top .uploadInfo .owner a {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

/* COMMENTS */

.commentSection .header {
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.commentSection .header .commentForm .profileImg,
.commentSection .comment .profileImg,
.commentForm .profileImg {
  margin-right: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.commentSection .header .commentCount {
  margin-bottom: 24px;
}

.commentSection .header .commentForm,
.itemContainer .commentForm {
  display: flex;
}

.commentSection .header .commentForm textarea,
.itemContainer .commentForm textarea {
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #111;
  resize: none;
}

.itemContainer .commentForm textarea {
  height: 30px;
}

.commentSection .header .commentForm .postComment,
.itemContainer .commentForm .postComment,
.itemContainer .commentForm .cancelComment {
  height: 36px;
  background-color: #2692e6;
  color: #fff;
  font-weight: 500;
  border: none;
  padding: 0 15px;
  border-radius: 2px;
}

.itemContainer .commentForm .cancelComment {
  background-color: transparent;
  color: rgba(17, 17, 17, 0.6);
}

.itemContainer .commentForm .cancelComment:hover {
  color: #000;
}

.commentSection .itemContainer {
  margin-bottom: 16px;
}

.commentSection .comment {
  display: flex;
}

.commentSection .commentHeader {
  margin-bottom: 2px;
}

.commentSection .comment .username {
  margin-right: 8px;
  color: #111;
  font-size: 13px;
  font-weight: 500;
}

.commentSection .comment .body {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.itemContainer .controls {
  margin-left: 64px;
}

.itemContainer .controls button,
.itemContainer .controls .likeCount {
  height: 32px;
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-weight: 500;
  color: rgba(17, 17, 17, 0.6);
}

.itemContainer .controls button {
  cursor: pointer;
}

.itemContainer .controls .likeCount {
  margin: 0 5px;
}

.itemContainer .controls button img {
  height: 16px;
}

.itemContainer .commentForm .profileImg {
  width: 30px;
  height: 30px;
}

.commentSection .comment .timestamp {
  color: #888;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.hidden {
  display: none !important;
}

.comments .repliesSection {
  padding-left: 64px;
  margin-top: 16px;
}

.commentSection .itemContainer .viewReplies {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

/* VIDEO GRID */

.videoGrid {
  display: flex;
  flex-wrap: wrap;
}

.suggestions .videoCard {
  display: flex;
  height: auto;
}

.videoCard {
  margin-right: 4px;
  margin-bottom: 24px;
}

.videoCard .thumbnail {
  width: 210px;
  height: 118px;
  position: relative;
}

.suggestions .videoCard .thumbnail {
  margin-right: 8px;
}

.videoCard .thumbnail img {
  width: 100%;
  height: 100%;
}

.videoCard .thumbnail .duration {
  bottom: 0;
  right: 0;
  position: absolute;
  margin: 4px;
  color: #fff;
  background-color: rgba(17, 17, 17, 0.8);
  opacity: 0.8;
  padding: 2px 4px;
  border-radius: 2px;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.videoCard .details {
  padding-right: 24px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 210px;
}

.suggestions .videoCard .details {
  padding-right: 0;
  flex: 1;
}

.videoCard .details .title {
  margin: 8px 0;
  max-height: 32px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #212529;
}

.videoCard .details .uploadedBy,
.videoCard .details .lower {
  color: rgba(17, 17, 17, 0.6);
  font-size: 13px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gridHeader {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.videoGrid.large {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.videoGrid.large .videoCard {
  height: auto;
  flex: 1;
  display: flex;
}

.videoGrid.large .videoCard .thumbnail {
  width: 320px;
  height: 166px;
  margin-right: 16px;
}

.videoGrid.large .videoCard .details {
  max-width: 600px;
}

.videoGrid.large .videoCard .details .title {
  font-size: 18px;
  line-height: 24px;
}

.videoCard .details .description {
  color: rgba(17, 17, 17, 0.6);
  font-size: 13px;
  font-weight: 500;
}

.searchResultsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.gridHeader .right {
  text-align: right;
}

.gridHeader a {
  color: rgba(17, 17, 17, 0.6);
}

.gridHeader a:after {
  content: " |";
}

.gridHeader a:last-child:after {
  content: "";
}

/* NAVIGATION */

.signInLink {
  color: #f00;
  margin-left: 15px;
}

#navContainer .navLink {
  overflow-y: auto;
}

#navContainer .navLink {
  height: 40px;
  display: flex;
}

#navContainer .navLink img {
  height: 18px;
  margin-right: 25px;
}

#navContainer .navLink span {
  flex: 1;
  color: #111;
  font-size: 14px;
}

#navContainer .navLink a {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

#navContainer .navLink a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#navContainer .heading {
  color: rgba(17, 17, 17, 0.8);
  font-size: 14px;
  font-weight: 500;
  padding: 10px 24px 0;
  border-top: 1px solid #e8e8e8;
  display: block;
}

/* CHANNEL */

.channelContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bannerContainer {
  height: 200px;
  flex: 1;
  position: relative;
}

.bannerContainer .banner {
  width: 100%;
  object-fit: cover;
  max-height: 100%;
  vertical-align: middle;
}

.bannerContainer .channelName {
  position: absolute;
  font-family: serif;
  top: calc(50% - 40px);
  font-size: 50px;
  color: #fff;
  text-align: center;
  width: 100%;
  letter-spacing: 5px;
}

.channelHeader {
  padding: 15px 100px 0 100px;
  display: flex;
  height: 100px;
}

.infoContainer {
  flex: 1;
  display: flex;
}

.channelHeader .infoContainer .ownerImage {
  height: 80px;
  width: 80px;
}

.channelHeader .ownerInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.channelHeader .ownerInfo .name {
  font-size: 24px;
  font-weight: 400;
  color: #111;
}

.channelHeader .ownerInfo .subscriberCount {
  font-size: 14px;
  color: rgba(17, 17, 17, 0.6);
}

.channelHeader .buttonContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.channelHeader .buttonContainer button {
  cursor: pointer;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  padding: 10px 15px;
  font-size: 14px;
}

.channelContainer .channelContent {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
}

.nav-item a {
  color: rgba(17, 17, 17, 0.6);
}

.channelContent .section .values {
  color: rgba(17, 17, 17, 0.6);
  display: flex;
  flex-direction: column;
}

.channelContent .section .values span {
  margin-top: 3px;
  text-indent: 8px;
}

/* SETTINGS */

.settingsContainer form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dedede;
}

/* EDIT VIDEO */

.videoEditContainer {
  display: flex;
  flex-direction: column;
}

.videoEditContainer .top {
  display: flex;
}

.top .videoPlayer {
  max-height: 300px;
  flex: 1;
}

.videoEditContainer .top .thumbnails {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  width: 210px;
}

.videoEditContainer .top .thumbnails .thumbnail {
  margin-bottom: 10px;
  padding: 2px;
}

.videoEditContainer .top .thumbnails .thumbnail.selected {
  border: 3px solid #828282;
}

.videoEditContainer .top .thumbnails .thumbnail img {
  width: 100%;
  cursor: pointer;
}
