.videoGrid {
  display: flex;
  flex-wrap: wrap;
}

.gridHeader {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.videoGrid.large {
  flex-direction: column;
  flex: 1;
}
