.videoGridContainer {
  display: flex;
  flex-direction: column;
}

.videoGrid {
  display: flex;
  flex-wrap: wrap;
}

.home .videoGrid {
}

.gridHeader {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  font-size: 20px;
  text-indent: 1vw;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.videoGrid.large {
  flex-wrap: nowrap;
  flex-direction: column;
  flex: 1;
}

.videoGrid.asRows {
  padding-top: 12px;
}
